<p id="notice"><%= notice %></p>

<h1>Listing Gas Heat Calculators</h1>

<table>
  <thead>
    <tr>
      <th>Mixed air volume</th>
      <th>Outside air volume</th>
      <th>Return air volume</th>
      <th>Mixed air temp</th>
      <th>Supply air temp</th>
      <th>Supply air volume</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gas_heat_calculators.each do |gas_heat_calculator| %>
      <tr>
        <td><%= gas_heat_calculator.mixed_air_volume %></td>
        <td><%= gas_heat_calculator.outside_air_volume %></td>
        <td><%= gas_heat_calculator.return_air_volume %></td>
        <td><%= gas_heat_calculator.mixed_air_temp %></td>
        <td><%= gas_heat_calculator.supply_air_temp %></td>
        <td><%= gas_heat_calculator.supply_air_volume %></td>
        <td><%= link_to 'Show', gas_heat_calculator %></td>
        <td><%= link_to 'Edit', edit_gas_heat_calculator_path(gas_heat_calculator) %></td>
        <td><%= link_to 'Destroy', gas_heat_calculator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gas heat calculator', new_gas_heat_calculator_path %>
