<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>Gas-Heat Option Calculator</title>
 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 <%= csrf_meta_tags %>
</head>
<body>
 <nav class="navbar navbar-default" style="background-color: #35B2D4;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <div class="app-title">
        <h2>Gas-Heat Option Calculator</h2>
        <p style= "font-size: 95%;color: #ffffff;">Calculator for modulating gas heating options on 25 through 40 ton package units</p>
     </div>
     </div>
         <div class = "row">
         <div class="pull-right user-info">
           <% if current_user %>
             Hello <%= current_user.email %>! <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
           <% else %>
             <%= link_to "Sign In", new_user_session_path, class: 'link-color' %> or
             <%= link_to "Sign Up", new_user_registration_path, class: 'link-color' %>
           <% end %>
     </div>  
    </div>
     <div class = "row">
     <div class = "pull-right logo">
          <p>ProficienTECH</p>
        </div>
      </div>

 </nav>

      
     <% if flash[:notice] %>
        <div class="alert alert-success">
         <button type="button" class="close" data-dismiss="alert">&times;</button>
         <%= flash[:notice] %>
        </div>
     <% elsif flash[:error] %>
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:error] %>
        </div>
     <% elsif flash[:alert] %>
        <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:alert] %>
        </div>
      <% end %>
      
<%= yield %>
</div>
</body>
</html>


